<div id="clearance" class="p-4">
  <h2 class="text-3xl"><%= t(".title") %></h2>

  <%= form_with model: @user, local: true do |form| %>
    <div class="grid gap-4">
      <% if @user.errors.any? %>
        <ul>
          <% @user.errors.full_messages.each do |error| %>
            <li class="text-red-500"><%= error %></li>
          <% end %>
        </ul>
      <% end %>

      <%= render partial: '/users/form', object: form %>

      <div>
        <%= form.submit class: "p-1" %>
      </div>
    </div>
  <% end %>
</div>
