<div id="clearance" class="p-4">
  <h2 class="text-3xl"><%= t(".title") %></h2>

  <%= form_for :password_reset,
        url: user_password_path(@user, token: @user.confirmation_token),
        html: { method: :put } do |form| %>
    <div class="grid gap-4">
      <p><%= t(".description") %></p>

      <div>
        <div>
          <%= form.label :password, class: "text-lg" %>
        </div>
        <div>
          <%= form.password_field :password, class: "border border-gray-400 rounded" %>
        </div>
      </div>

      <div>
        <%= form.submit class: "p-1" %>
      </div>
    </div>
  <% end %>
</div>
